-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: pos_maroa
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `batch_preps`
--

DROP TABLE IF EXISTS `batch_preps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch_preps` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `outlet_id` bigint(20) unsigned NOT NULL,
  `batch_no` varchar(50) NOT NULL,
  `prep_recipe_id` bigint(20) unsigned DEFAULT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `batch_multiplier` decimal(10,2) NOT NULL DEFAULT 1.00 COMMENT 'Faktor pengali batch (misal: 1, 2, 0.5)',
  `expected_output_qty` decimal(15,3) NOT NULL,
  `actual_output_qty` decimal(15,3) NOT NULL,
  `output_unit` varchar(20) NOT NULL,
  `total_cost` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Total HPP bahan mentah terpakai',
  `unit_cost` decimal(15,4) NOT NULL DEFAULT 0.0000 COMMENT 'HPP per unit olahan (total_cost / actual_output_qty)',
  `date` date NOT NULL,
  `notes` text DEFAULT NULL,
  `status` varchar(20) NOT NULL DEFAULT 'COMPLETED',
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `batch_preps_batch_no_unique` (`batch_no`),
  KEY `batch_preps_business_id_foreign` (`business_id`),
  KEY `batch_preps_outlet_id_foreign` (`outlet_id`),
  KEY `batch_preps_prep_recipe_id_foreign` (`prep_recipe_id`),
  KEY `batch_preps_ingredient_id_foreign` (`ingredient_id`),
  KEY `batch_preps_user_id_foreign` (`user_id`),
  KEY `batch_preps_created_by_foreign` (`created_by`),
  KEY `batch_preps_updated_by_foreign` (`updated_by`),
  CONSTRAINT `batch_preps_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `batch_preps_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `batch_preps_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `batch_preps_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `batch_preps_prep_recipe_id_foreign` FOREIGN KEY (`prep_recipe_id`) REFERENCES `prep_recipes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `batch_preps_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `batch_preps_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch_preps`
--

LOCK TABLES `batch_preps` WRITE;
/*!40000 ALTER TABLE `batch_preps` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_preps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bundle_items`
--

DROP TABLE IF EXISTS `bundle_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bundle_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `menu_id` bigint(20) unsigned NOT NULL,
  `bundled_menu_id` bigint(20) unsigned DEFAULT NULL,
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(10,4) NOT NULL DEFAULT 1.0000,
  `unit` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `bundle_items_menu_id_foreign` (`menu_id`),
  KEY `bundle_items_bundled_menu_id_foreign` (`bundled_menu_id`),
  KEY `bundle_items_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `bundle_items_bundled_menu_id_foreign` FOREIGN KEY (`bundled_menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bundle_items_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `bundle_items_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bundle_items`
--

LOCK TABLES `bundle_items` WRITE;
/*!40000 ALTER TABLE `bundle_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `bundle_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `businesses`
--

DROP TABLE IF EXISTS `businesses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `businesses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `owner_name` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `package_type` varchar(255) NOT NULL DEFAULT 'pro',
  `max_outlets` int(10) unsigned NOT NULL DEFAULT 5,
  `status` varchar(255) NOT NULL DEFAULT 'active',
  `referred_by_id` bigint(20) unsigned DEFAULT NULL,
  `referral_code_used` varchar(50) DEFAULT NULL,
  `coin_balance` decimal(14,2) NOT NULL DEFAULT 0.00,
  `coins_per_transaction` decimal(8,2) NOT NULL DEFAULT 1.00,
  `low_coin_threshold` int(11) NOT NULL DEFAULT 20,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `businesses_slug_unique` (`slug`),
  KEY `businesses_referred_by_id_foreign` (`referred_by_id`),
  CONSTRAINT `businesses_referred_by_id_foreign` FOREIGN KEY (`referred_by_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `businesses`
--

LOCK TABLES `businesses` WRITE;
/*!40000 ALTER TABLE `businesses` DISABLE KEYS */;
/*!40000 ALTER TABLE `businesses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cash_transactions`
--

DROP TABLE IF EXISTS `cash_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cash_transactions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `transaction_no` varchar(35) NOT NULL,
  `date` date NOT NULL,
  `type` varchar(10) NOT NULL COMMENT 'IN, OUT',
  `activity_type` varchar(20) NOT NULL COMMENT 'OPERATING, INVESTING, FINANCING',
  `category` varchar(50) NOT NULL COMMENT 'EQUIPMENT, RENOVATION, FURNITURE, TECH_POS, ASSET_SALE, CAPITAL_INJECTION, OWNER_WITHDRAWAL, LOAN_RECEIPT, LOAN_REPAYMENT, SUPPLIER_PURCHASE, OTHER_INCOME, OTHER_EXPENSE',
  `expense_category_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `account` varchar(30) NOT NULL DEFAULT 'BANK_MAIN' COMMENT 'CASH_DRAWER, BANK_MAIN, PETTY_CASH',
  `payment_method` varchar(30) NOT NULL DEFAULT 'TRANSFER' COMMENT 'CASH, TRANSFER, DEBIT',
  `payment_method_id` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `receipt_img` varchar(255) DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cash_transactions_outlet_id_foreign` (`outlet_id`),
  KEY `cash_transactions_user_id_foreign` (`user_id`),
  KEY `cash_transactions_created_by_foreign` (`created_by`),
  KEY `cash_transactions_updated_by_foreign` (`updated_by`),
  KEY `cash_transactions_transaction_no_index` (`transaction_no`),
  KEY `cash_transactions_date_index` (`date`),
  KEY `cash_transactions_activity_type_index` (`activity_type`),
  KEY `cash_transactions_category_index` (`category`),
  KEY `idx_cash_biz_out_date` (`business_id`,`outlet_id`,`date`),
  KEY `cash_transactions_expense_category_id_foreign` (`expense_category_id`),
  KEY `cash_transactions_payment_method_id_foreign` (`payment_method_id`),
  CONSTRAINT `cash_transactions_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cash_transactions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cash_transactions_expense_category_id_foreign` FOREIGN KEY (`expense_category_id`) REFERENCES `expense_categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cash_transactions_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cash_transactions_payment_method_id_foreign` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cash_transactions_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cash_transactions_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cash_transactions`
--

LOCK TABLES `cash_transactions` WRITE;
/*!40000 ALTER TABLE `cash_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `cash_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `slug` varchar(120) DEFAULT NULL,
  `type` varchar(30) NOT NULL DEFAULT 'GENERAL' COMMENT 'MENU, INGREDIENT, GENERAL',
  `color` varchar(20) DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_cat_biz_type` (`business_id`,`type`),
  CONSTRAINT `categories_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (1,NULL,'Main','main','MENU',NULL,NULL,0,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(2,NULL,'COFFEE','coffee','MENU',NULL,NULL,0,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(3,NULL,'Protein','protein','INGREDIENT',NULL,NULL,0,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(4,NULL,'Bumbu','bumbu','INGREDIENT',NULL,NULL,0,'2026-09-18 08:08:28','2026-09-18 08:08:28');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coin_transactions`
--

DROP TABLE IF EXISTS `coin_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coin_transactions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned NOT NULL,
  `type` enum('TOPUP','USAGE','ADJUSTMENT','REFUND') NOT NULL DEFAULT 'USAGE',
  `amount` decimal(14,2) NOT NULL,
  `balance_before` decimal(14,2) NOT NULL,
  `balance_after` decimal(14,2) NOT NULL,
  `payment_amount` decimal(15,2) DEFAULT NULL,
  `payment_reference` varchar(255) DEFAULT NULL,
  `order_number` varchar(255) DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `coin_transactions_outlet_id_foreign` (`outlet_id`),
  KEY `coin_transactions_created_by_foreign` (`created_by`),
  KEY `coin_transactions_business_id_type_index` (`business_id`,`type`),
  KEY `coin_transactions_business_id_created_at_index` (`business_id`,`created_at`),
  KEY `coin_transactions_order_number_index` (`order_number`),
  CONSTRAINT `coin_transactions_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `coin_transactions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `coin_transactions_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coin_transactions`
--

LOCK TABLES `coin_transactions` WRITE;
/*!40000 ALTER TABLE `coin_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `coin_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `discounts`
--

DROP TABLE IF EXISTS `discounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `discounts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(50) DEFAULT NULL,
  `type` enum('PERCENTAGE','FIXED') NOT NULL DEFAULT 'PERCENTAGE',
  `value` decimal(15,2) NOT NULL DEFAULT 0.00,
  `scope` enum('TRANSACTION','CATEGORY','MENU_ITEM') NOT NULL DEFAULT 'TRANSACTION',
  `scope_target_id` bigint(20) unsigned DEFAULT NULL,
  `min_order_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `max_discount_amount` decimal(15,2) DEFAULT NULL,
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `usage_limit` int(11) DEFAULT NULL,
  `used_count` int(11) NOT NULL DEFAULT 0,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `is_auto_apply` tinyint(1) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `discounts_business_id_foreign` (`business_id`),
  KEY `discounts_outlet_id_foreign` (`outlet_id`),
  KEY `discounts_created_by_foreign` (`created_by`),
  KEY `discounts_updated_by_foreign` (`updated_by`),
  KEY `discounts_code_index` (`code`),
  CONSTRAINT `discounts_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `discounts_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `discounts_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `discounts_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `discounts`
--

LOCK TABLES `discounts` WRITE;
/*!40000 ALTER TABLE `discounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `discounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expense_categories`
--

DROP TABLE IF EXISTS `expense_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expense_categories` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `color` varchar(20) DEFAULT NULL,
  `icon` varchar(50) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_exp_cat_biz_code` (`business_id`,`code`),
  CONSTRAINT `expense_categories_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expense_categories`
--

LOCK TABLES `expense_categories` WRITE;
/*!40000 ALTER TABLE `expense_categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `expense_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredients`
--

DROP TABLE IF EXISTS `ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `code` varchar(20) NOT NULL,
  `name` varchar(255) NOT NULL,
  `category` varchar(255) NOT NULL DEFAULT 'Umum',
  `category_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(20) NOT NULL DEFAULT 'RAW' COMMENT 'RAW = Bahan Mentah, SEMI_FINISHED = Olahan / Prep Good',
  `unit_beli` varchar(20) NOT NULL DEFAULT 'Kg',
  `unit_beli_id` bigint(20) unsigned DEFAULT NULL,
  `unit_pakai` varchar(20) NOT NULL DEFAULT 'gram',
  `unit_pakai_id` bigint(20) unsigned DEFAULT NULL,
  `konversi` decimal(10,2) NOT NULL DEFAULT 1000.00,
  `harga` decimal(15,2) NOT NULL DEFAULT 0.00,
  `last_purchase_price` decimal(15,2) DEFAULT NULL COMMENT 'Harga beli terakhir per unit_beli',
  `stok_awal` decimal(15,3) NOT NULL DEFAULT 0.000,
  `stok_min` decimal(15,3) NOT NULL DEFAULT 0.000,
  `tolerance` decimal(5,2) NOT NULL DEFAULT 5.00,
  `yield_qty` decimal(15,3) DEFAULT NULL COMMENT 'Porsi / kuantitas hasil produksi standar per batch',
  `yield_unit` varchar(20) DEFAULT NULL COMMENT 'Satuan hasil produksi (e.g. potong, kg, porsi)',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ingredients_business_id_code_unique` (`business_id`,`code`),
  KEY `ingredients_created_by_foreign` (`created_by`),
  KEY `ingredients_updated_by_foreign` (`updated_by`),
  KEY `ingredients_category_id_foreign` (`category_id`),
  KEY `ingredients_unit_beli_id_foreign` (`unit_beli_id`),
  KEY `ingredients_unit_pakai_id_foreign` (`unit_pakai_id`),
  CONSTRAINT `ingredients_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ingredients_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ingredients_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ingredients_unit_beli_id_foreign` FOREIGN KEY (`unit_beli_id`) REFERENCES `units` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ingredients_unit_pakai_id_foreign` FOREIGN KEY (`unit_pakai_id`) REFERENCES `units` (`id`) ON DELETE SET NULL,
  CONSTRAINT `ingredients_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredients`
--

LOCK TABLES `ingredients` WRITE;
/*!40000 ALTER TABLE `ingredients` DISABLE KEYS */;
INSERT INTO `ingredients` VALUES (1,1,1,'B123','AYAM','Protein',3,'RAW','Kg',2,'gram',NULL,1000.00,50000.00,50000.00,0.000,10.000,5.00,NULL,NULL,1,'2026-09-06 07:19:03','2026-09-06 07:26:07',1),(2,1,1,'BHN-001','Bawang Merah Brebes','Protein',3,'RAW','Kg',2,'gram',NULL,1000.00,45000.00,NULL,0.000,0.000,5.00,NULL,NULL,1,'2026-09-06 07:19:44','2026-09-06 07:21:57',1),(3,1,1,'B111','TEPUNG','Bumbu',4,'RAW','Kg',2,'gram',NULL,1000.00,15000.00,15000.00,0.000,10.000,5.00,NULL,NULL,1,'2026-09-06 07:20:42','2026-09-06 07:27:09',1);
/*!40000 ALTER TABLE `ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menu_modifier_groups`
--

DROP TABLE IF EXISTS `menu_modifier_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menu_modifier_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `menu_id` bigint(20) unsigned NOT NULL,
  `modifier_group_id` bigint(20) unsigned NOT NULL,
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `menu_modifier_groups_menu_id_modifier_group_id_unique` (`menu_id`,`modifier_group_id`),
  KEY `menu_modifier_groups_modifier_group_id_foreign` (`modifier_group_id`),
  CONSTRAINT `menu_modifier_groups_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `menu_modifier_groups_modifier_group_id_foreign` FOREIGN KEY (`modifier_group_id`) REFERENCES `modifier_groups` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menu_modifier_groups`
--

LOCK TABLES `menu_modifier_groups` WRITE;
/*!40000 ALTER TABLE `menu_modifier_groups` DISABLE KEYS */;
INSERT INTO `menu_modifier_groups` VALUES (1,2,1,0,NULL,NULL);
/*!40000 ALTER TABLE `menu_modifier_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menus` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `code` varchar(20) NOT NULL,
  `barcode` varchar(50) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `category` varchar(255) NOT NULL DEFAULT 'Main',
  `category_id` bigint(20) unsigned DEFAULT NULL,
  `item_type` varchar(20) NOT NULL DEFAULT 'RECIPE',
  `track_stock` tinyint(1) NOT NULL DEFAULT 1,
  `stock` decimal(15,2) NOT NULL DEFAULT 0.00,
  `min_stock` decimal(15,2) NOT NULL DEFAULT 0.00,
  `price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `cost_price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `unit` varchar(20) NOT NULL DEFAULT 'porsi',
  `unit_id` bigint(20) unsigned DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `menus_business_id_code_unique` (`business_id`,`code`),
  KEY `menus_created_by_foreign` (`created_by`),
  KEY `menus_updated_by_foreign` (`updated_by`),
  KEY `menus_barcode_index` (`barcode`),
  KEY `menus_category_id_foreign` (`category_id`),
  KEY `menus_unit_id_foreign` (`unit_id`),
  CONSTRAINT `menus_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `menus_category_id_foreign` FOREIGN KEY (`category_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `menus_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `menus_unit_id_foreign` FOREIGN KEY (`unit_id`) REFERENCES `units` (`id`) ON DELETE SET NULL,
  CONSTRAINT `menus_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
INSERT INTO `menus` VALUES (2,1,1,'MN-002',NULL,'ayam crispy',NULL,'Main',1,'RECIPE',1,0.00,0.00,17000.00,0.00,'porsi',NULL,1,'2026-09-06 07:19:46','2026-09-06 07:19:46',NULL),(6,6,NULL,'MNU-TEST-COIN',NULL,'Kopi Susu Gula Aren',NULL,'COFFEE',2,'DIRECT',0,0.00,0.00,18000.00,0.00,'porsi',NULL,1,'2026-09-11 06:33:13','2026-09-11 06:33:13',NULL);
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modifier_groups`
--

DROP TABLE IF EXISTS `modifier_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modifier_groups` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL COMMENT 'Nama kelompok modifier (e.g. Level Pedas, Extra Topping)',
  `selection_type` varchar(20) NOT NULL DEFAULT 'SINGLE' COMMENT 'SINGLE (radio) atau MULTIPLE (checkbox)',
  `is_required` tinyint(1) NOT NULL DEFAULT 0 COMMENT 'Apakah wajib dipilih salah satu',
  `min_selection` int(10) unsigned NOT NULL DEFAULT 0,
  `max_selection` int(10) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `modifier_groups_business_id_foreign` (`business_id`),
  KEY `modifier_groups_created_by_foreign` (`created_by`),
  KEY `modifier_groups_updated_by_foreign` (`updated_by`),
  CONSTRAINT `modifier_groups_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `modifier_groups_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `modifier_groups_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modifier_groups`
--

LOCK TABLES `modifier_groups` WRITE;
/*!40000 ALTER TABLE `modifier_groups` DISABLE KEYS */;
INSERT INTO `modifier_groups` VALUES (1,1,'toping','SINGLE',0,0,NULL,1,NULL,'2026-09-06 07:22:33','2026-09-06 07:22:33');
/*!40000 ALTER TABLE `modifier_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modifier_options`
--

DROP TABLE IF EXISTS `modifier_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modifier_options` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `modifier_group_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL COMMENT 'Nama pilihan (e.g. Level 3 (Pedas), Extra Keju Mozzarella)',
  `price` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Tambahan harga (misal: 0 atau 5000)',
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(15,3) DEFAULT 0.000,
  `unit` varchar(20) DEFAULT NULL COMMENT 'Satuan pemotongan',
  `sort_order` int(10) unsigned NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `modifier_options_modifier_group_id_foreign` (`modifier_group_id`),
  KEY `modifier_options_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `modifier_options_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `modifier_options_modifier_group_id_foreign` FOREIGN KEY (`modifier_group_id`) REFERENCES `modifier_groups` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modifier_options`
--

LOCK TABLES `modifier_options` WRITE;
/*!40000 ALTER TABLE `modifier_options` DISABLE KEYS */;
INSERT INTO `modifier_options` VALUES (1,1,'saus',5000.00,2,0.000,'gram',0,'2026-09-06 07:22:33','2026-09-06 07:22:33');
/*!40000 ALTER TABLE `modifier_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operating_expenses`
--

DROP TABLE IF EXISTS `operating_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operating_expenses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `expense_no` varchar(35) NOT NULL,
  `date` date NOT NULL,
  `category` varchar(50) NOT NULL COMMENT 'SALARY, UTILITIES, GAS, RENT, MAINTENANCE, MARKETING, LOGISTICS, OTHER',
  `expense_category_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `payment_method` varchar(30) NOT NULL DEFAULT 'CASH' COMMENT 'CASH, TRANSFER, PETTY_CASH, DEBIT',
  `payment_method_id` bigint(20) unsigned DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `receipt_img` varchar(255) DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `operating_expenses_outlet_id_foreign` (`outlet_id`),
  KEY `operating_expenses_user_id_foreign` (`user_id`),
  KEY `operating_expenses_created_by_foreign` (`created_by`),
  KEY `operating_expenses_updated_by_foreign` (`updated_by`),
  KEY `operating_expenses_expense_no_index` (`expense_no`),
  KEY `operating_expenses_date_index` (`date`),
  KEY `operating_expenses_category_index` (`category`),
  KEY `idx_opex_biz_out_date` (`business_id`,`outlet_id`,`date`),
  KEY `idx_opex_category` (`category`),
  KEY `operating_expenses_expense_category_id_foreign` (`expense_category_id`),
  KEY `operating_expenses_payment_method_id_foreign` (`payment_method_id`),
  CONSTRAINT `operating_expenses_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `operating_expenses_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `operating_expenses_expense_category_id_foreign` FOREIGN KEY (`expense_category_id`) REFERENCES `expense_categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `operating_expenses_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `operating_expenses_payment_method_id_foreign` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `operating_expenses_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `operating_expenses_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operating_expenses`
--

LOCK TABLES `operating_expenses` WRITE;
/*!40000 ALTER TABLE `operating_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `operating_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opnames`
--

DROP TABLE IF EXISTS `opnames`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opnames` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `period_from` date NOT NULL,
  `period_to` date NOT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `opname_no` varchar(50) DEFAULT NULL,
  `opname_date` date DEFAULT NULL,
  `actual_qty` decimal(15,3) DEFAULT NULL,
  `reason` varchar(255) DEFAULT NULL,
  `approver` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `is_closed` tinyint(1) NOT NULL DEFAULT 0,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `opname_outlet_unique` (`period_from`,`period_to`,`ingredient_id`,`outlet_id`),
  KEY `opnames_user_id_foreign` (`user_id`),
  KEY `opnames_created_by_foreign` (`created_by`),
  KEY `opnames_updated_by_foreign` (`updated_by`),
  KEY `opnames_outlet_id_foreign` (`outlet_id`),
  KEY `opnames_opname_no_index` (`opname_no`),
  KEY `opnames_opname_date_index` (`opname_date`),
  KEY `idx_opn_biz_out_date` (`business_id`,`outlet_id`,`opname_date`),
  KEY `idx_opn_periods` (`period_from`,`period_to`),
  KEY `idx_opn_ing_out` (`ingredient_id`,`outlet_id`),
  KEY `idx_opn_is_closed` (`is_closed`),
  CONSTRAINT `opnames_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `opnames_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `opnames_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`),
  CONSTRAINT `opnames_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `opnames_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `opnames_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opnames`
--

LOCK TABLES `opnames` WRITE;
/*!40000 ALTER TABLE `opnames` DISABLE KEYS */;
/*!40000 ALTER TABLE `opnames` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outlet_ingredients`
--

DROP TABLE IF EXISTS `outlet_ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outlet_ingredients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `outlet_id` bigint(20) unsigned NOT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `stok_awal` decimal(15,3) NOT NULL DEFAULT 0.000,
  `stok_min` decimal(15,3) NOT NULL DEFAULT 0.000,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `outlet_ingredients_outlet_id_ingredient_id_unique` (`outlet_id`,`ingredient_id`),
  KEY `outlet_ingredients_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `outlet_ingredients_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `outlet_ingredients_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outlet_ingredients`
--

LOCK TABLES `outlet_ingredients` WRITE;
/*!40000 ALTER TABLE `outlet_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `outlet_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outlet_menus`
--

DROP TABLE IF EXISTS `outlet_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outlet_menus` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `outlet_id` bigint(20) unsigned NOT NULL,
  `menu_id` bigint(20) unsigned NOT NULL,
  `stock` decimal(15,2) NOT NULL DEFAULT 0.00,
  `min_stock` decimal(15,2) NOT NULL DEFAULT 0.00,
  `price` decimal(15,2) DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `outlet_menus_outlet_id_menu_id_unique` (`outlet_id`,`menu_id`),
  KEY `outlet_menus_menu_id_foreign` (`menu_id`),
  CONSTRAINT `outlet_menus_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `outlet_menus_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outlet_menus`
--

LOCK TABLES `outlet_menus` WRITE;
/*!40000 ALTER TABLE `outlet_menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `outlet_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outlets`
--

DROP TABLE IF EXISTS `outlets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `outlets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `code` varchar(30) NOT NULL,
  `name` varchar(255) NOT NULL,
  `address` varchar(500) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `pic_name` varchar(100) DEFAULT NULL,
  `is_main` tinyint(1) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `outlets_business_id_code_unique` (`business_id`,`code`),
  KEY `outlets_created_by_foreign` (`created_by`),
  KEY `outlets_updated_by_foreign` (`updated_by`),
  CONSTRAINT `outlets_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `outlets_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `outlets_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outlets`
--

LOCK TABLES `outlets` WRITE;
/*!40000 ALTER TABLE `outlets` DISABLE KEYS */;
/*!40000 ALTER TABLE `outlets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_methods`
--

DROP TABLE IF EXISTS `payment_methods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment_methods` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(100) NOT NULL,
  `type` varchar(30) NOT NULL DEFAULT 'CASH' COMMENT 'CASH, QRIS, TRANSFER, DEBIT, OTHER',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `sort_order` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_pm_biz_code` (`business_id`,`code`),
  CONSTRAINT `payment_methods_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_methods`
--

LOCK TABLES `payment_methods` WRITE;
/*!40000 ALTER TABLE `payment_methods` DISABLE KEYS */;
INSERT INTO `payment_methods` VALUES (1,NULL,'CASH','Tunai (Cash)','CASH',1,1,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(2,NULL,'QRIS','QRIS (GoPay/OVO/ShopeePay/BCA)','QRIS',1,2,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(3,NULL,'TRANSFER','Transfer Bank','TRANSFER',1,3,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(4,NULL,'DEBIT','Kartu Debit / EDC','DEBIT',1,4,'2026-09-18 08:08:28','2026-09-18 08:08:28'),(5,NULL,'PETTY_CASH','Kas Kecil','CASH',1,5,'2026-09-18 08:08:28','2026-09-18 08:08:28');
/*!40000 ALTER TABLE `payment_methods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` text NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`),
  KEY `personal_access_tokens_expires_at_index` (`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=43 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prep_recipe_items`
--

DROP TABLE IF EXISTS `prep_recipe_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prep_recipe_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `prep_recipe_id` bigint(20) unsigned NOT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `qty` decimal(15,3) NOT NULL COMMENT 'Kebutuhan per 1 batch',
  `unit` varchar(20) NOT NULL DEFAULT 'gram',
  `waste_std` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'Standar susut / trimming %',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prep_recipe_items_prep_recipe_id_foreign` (`prep_recipe_id`),
  KEY `prep_recipe_items_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `prep_recipe_items_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `prep_recipe_items_prep_recipe_id_foreign` FOREIGN KEY (`prep_recipe_id`) REFERENCES `prep_recipes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prep_recipe_items`
--

LOCK TABLES `prep_recipe_items` WRITE;
/*!40000 ALTER TABLE `prep_recipe_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `prep_recipe_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prep_recipes`
--

DROP TABLE IF EXISTS `prep_recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `prep_recipes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL COMMENT 'Nama racikan / sub-resep standar batch',
  `output_qty` decimal(15,3) NOT NULL DEFAULT 1.000 COMMENT 'Jumlah output standar per 1 batch',
  `output_unit` varchar(20) NOT NULL COMMENT 'Satuan output standar (potong, kg, porsi, dsb)',
  `notes` text DEFAULT NULL COMMENT 'Instruksi SOP racik / masak dapur',
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prep_recipes_business_id_foreign` (`business_id`),
  KEY `prep_recipes_ingredient_id_foreign` (`ingredient_id`),
  KEY `prep_recipes_created_by_foreign` (`created_by`),
  KEY `prep_recipes_updated_by_foreign` (`updated_by`),
  CONSTRAINT `prep_recipes_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `prep_recipes_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `prep_recipes_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `prep_recipes_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prep_recipes`
--

LOCK TABLES `prep_recipes` WRITE;
/*!40000 ALTER TABLE `prep_recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `prep_recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_items`
--

DROP TABLE IF EXISTS `recipe_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipe_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `recipe_id` bigint(20) unsigned NOT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `qty` decimal(10,3) NOT NULL,
  `unit` varchar(20) NOT NULL DEFAULT 'gram',
  `waste_std` decimal(5,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `recipe_items_recipe_id_foreign` (`recipe_id`),
  KEY `recipe_items_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `recipe_items_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recipe_items_recipe_id_foreign` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_items`
--

LOCK TABLES `recipe_items` WRITE;
/*!40000 ALTER TABLE `recipe_items` DISABLE KEYS */;
INSERT INTO `recipe_items` VALUES (1,1,1,500.000,'gram',0.00,'2026-09-06 07:21:34','2026-09-06 07:21:34'),(2,1,3,100.000,'gram',0.00,'2026-09-06 07:21:34','2026-09-06 07:21:34');
/*!40000 ALTER TABLE `recipe_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipes`
--

DROP TABLE IF EXISTS `recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recipes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `menu_id` bigint(20) unsigned NOT NULL,
  `version` int(11) NOT NULL DEFAULT 1,
  `date` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `recipes_menu_id_version_unique` (`menu_id`,`version`),
  KEY `recipes_created_by_foreign` (`created_by`),
  KEY `recipes_updated_by_foreign` (`updated_by`),
  CONSTRAINT `recipes_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `recipes_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recipes_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipes`
--

LOCK TABLES `recipes` WRITE;
/*!40000 ALTER TABLE `recipes` DISABLE KEYS */;
INSERT INTO `recipes` VALUES (1,1,2,1,'2026-09-06','2026-09-06 07:21:34','2026-09-06 07:21:34',NULL);
/*!40000 ALTER TABLE `recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shift_schedules`
--

DROP TABLE IF EXISTS `shift_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shift_schedules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned NOT NULL,
  `outlet_id` bigint(20) unsigned NOT NULL,
  `shift_name` varchar(255) NOT NULL,
  `start_time` varchar(10) DEFAULT NULL,
  `end_time` varchar(10) DEFAULT NULL,
  `assigned_user_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`assigned_user_ids`)),
  `is_strict` tinyint(1) NOT NULL DEFAULT 1,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `shift_schedules_business_id_foreign` (`business_id`),
  KEY `shift_schedules_outlet_id_foreign` (`outlet_id`),
  KEY `shift_schedules_created_by_foreign` (`created_by`),
  KEY `shift_schedules_updated_by_foreign` (`updated_by`),
  CONSTRAINT `shift_schedules_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shift_schedules_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shift_schedules_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE CASCADE,
  CONSTRAINT `shift_schedules_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shift_schedules`
--

LOCK TABLES `shift_schedules` WRITE;
/*!40000 ALTER TABLE `shift_schedules` DISABLE KEYS */;
INSERT INTO `shift_schedules` VALUES (1,1,1,'Shift 1 (Pagi Resmi)','07:00','15:00','[14]',1,1,1,NULL,'2026-09-11 06:03:25','2026-09-11 06:03:25');
/*!40000 ALTER TABLE `shift_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shifts`
--

DROP TABLE IF EXISTS `shifts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shifts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `shift_name` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `shift_schedule_id` bigint(20) unsigned DEFAULT NULL,
  `opened_at` datetime NOT NULL,
  `closed_at` datetime DEFAULT NULL,
  `initial_cash` decimal(15,2) NOT NULL DEFAULT 0.00,
  `system_cash` decimal(15,2) NOT NULL DEFAULT 0.00,
  `closing_cash` decimal(15,2) DEFAULT NULL,
  `cash_difference` decimal(15,2) DEFAULT NULL,
  `status` enum('OPEN','CLOSED') NOT NULL DEFAULT 'OPEN',
  `notes` text DEFAULT NULL,
  `closed_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `shifts_user_id_foreign` (`user_id`),
  KEY `shifts_closed_by_foreign` (`closed_by`),
  KEY `shifts_created_by_foreign` (`created_by`),
  KEY `shifts_updated_by_foreign` (`updated_by`),
  KEY `shifts_outlet_id_foreign` (`outlet_id`),
  KEY `shifts_business_id_foreign` (`business_id`),
  KEY `shifts_shift_schedule_id_foreign` (`shift_schedule_id`),
  CONSTRAINT `shifts_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_closed_by_foreign` FOREIGN KEY (`closed_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_shift_schedule_id_foreign` FOREIGN KEY (`shift_schedule_id`) REFERENCES `shift_schedules` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `shifts_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shifts`
--

LOCK TABLES `shifts` WRITE;
/*!40000 ALTER TABLE `shifts` DISABLE KEYS */;
/*!40000 ALTER TABLE `shifts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stock_movements`
--

DROP TABLE IF EXISTS `stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stock_movements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `date` date NOT NULL,
  `ingredient_id` bigint(20) unsigned NOT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `type` varchar(30) NOT NULL,
  `waste_reason` varchar(50) DEFAULT NULL,
  `qty` decimal(15,3) NOT NULL,
  `unit_price` decimal(15,2) DEFAULT NULL COMMENT 'Harga beli per unit satuan transaksi',
  `total_price` decimal(15,2) DEFAULT NULL COMMENT 'Total nilai pembelian (qty * unit_price)',
  `cost_before` decimal(15,4) DEFAULT NULL COMMENT 'Harga rata-rata per satuan pakai sebelum transaksi',
  `cost_after` decimal(15,4) DEFAULT NULL COMMENT 'Harga rata-rata per satuan pakai setelah transaksi (Moving Average)',
  `note` varchar(255) DEFAULT NULL,
  `transaction_id` bigint(20) unsigned DEFAULT NULL,
  `shift_id` bigint(20) unsigned DEFAULT NULL,
  `transfer_id` bigint(20) unsigned DEFAULT NULL,
  `batch_prep_id` bigint(20) unsigned DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `stock_movements_user_id_foreign` (`user_id`),
  KEY `stock_movements_shift_id_foreign` (`shift_id`),
  KEY `stock_movements_created_by_foreign` (`created_by`),
  KEY `stock_movements_updated_by_foreign` (`updated_by`),
  KEY `stock_movements_transfer_id_foreign` (`transfer_id`),
  KEY `stock_movements_outlet_id_foreign` (`outlet_id`),
  KEY `stock_movements_batch_prep_id_foreign` (`batch_prep_id`),
  KEY `idx_sm_ing_out` (`ingredient_id`,`outlet_id`),
  KEY `idx_sm_biz_out_date` (`business_id`,`outlet_id`,`date`),
  KEY `idx_sm_type` (`type`),
  KEY `idx_sm_trx_id` (`transaction_id`),
  CONSTRAINT `stock_movements_batch_prep_id_foreign` FOREIGN KEY (`batch_prep_id`) REFERENCES `batch_preps` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`),
  CONSTRAINT `stock_movements_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`),
  CONSTRAINT `stock_movements_shift_id_foreign` FOREIGN KEY (`shift_id`) REFERENCES `shifts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_transaction_id_foreign` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_transfer_id_foreign` FOREIGN KEY (`transfer_id`) REFERENCES `transfers` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `stock_movements_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stock_movements`
--

LOCK TABLES `stock_movements` WRITE;
/*!40000 ALTER TABLE `stock_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction_modifiers`
--

DROP TABLE IF EXISTS `transaction_modifiers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction_modifiers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transaction_id` bigint(20) unsigned NOT NULL,
  `modifier_option_id` bigint(20) unsigned DEFAULT NULL,
  `group_name` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(15,3) NOT NULL DEFAULT 0.000,
  `unit` varchar(20) DEFAULT NULL,
  `total_price` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'price * transaction.qty',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `transaction_modifiers_transaction_id_foreign` (`transaction_id`),
  KEY `transaction_modifiers_modifier_option_id_foreign` (`modifier_option_id`),
  KEY `transaction_modifiers_ingredient_id_foreign` (`ingredient_id`),
  CONSTRAINT `transaction_modifiers_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaction_modifiers_modifier_option_id_foreign` FOREIGN KEY (`modifier_option_id`) REFERENCES `modifier_options` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transaction_modifiers_transaction_id_foreign` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction_modifiers`
--

LOCK TABLES `transaction_modifiers` WRITE;
/*!40000 ALTER TABLE `transaction_modifiers` DISABLE KEYS */;
INSERT INTO `transaction_modifiers` VALUES (1,1,1,'toping','saus',5000.00,2,0.000,'gram',5000.00,'2026-09-06 07:50:27','2026-09-06 07:50:27');
/*!40000 ALTER TABLE `transaction_modifiers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `order_number` varchar(40) DEFAULT NULL,
  `parent_order_number` varchar(50) DEFAULT NULL,
  `split_index` int(11) DEFAULT NULL,
  `split_total` int(11) DEFAULT NULL,
  `split_type` enum('BY_ITEM','EQUAL','CUSTOM') DEFAULT NULL,
  `status` varchar(30) NOT NULL DEFAULT 'PAID',
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `date` date NOT NULL,
  `menu_id` bigint(20) unsigned NOT NULL,
  `qty` int(11) NOT NULL,
  `recipe_version` int(11) DEFAULT NULL,
  `total_price` decimal(15,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(15,2) DEFAULT NULL,
  `discount_id` bigint(20) unsigned DEFAULT NULL,
  `discount_amount` decimal(15,2) NOT NULL DEFAULT 0.00,
  `discount_name` varchar(100) DEFAULT NULL,
  `discount_type` varchar(30) DEFAULT NULL,
  `discount_rate` decimal(15,2) DEFAULT NULL,
  `amount_paid` decimal(15,2) DEFAULT NULL,
  `change_amount` decimal(15,2) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `customer_name` varchar(100) DEFAULT NULL,
  `order_type` varchar(30) NOT NULL DEFAULT 'DINE_IN',
  `table_number` varchar(50) DEFAULT NULL,
  `payment_method` varchar(30) NOT NULL DEFAULT 'CASH',
  `payment_method_id` bigint(20) unsigned DEFAULT NULL,
  `is_urgent_note` tinyint(1) NOT NULL DEFAULT 0,
  `urgent_status` varchar(30) NOT NULL DEFAULT 'NONE',
  `shift_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `transactions_menu_id_foreign` (`menu_id`),
  KEY `transactions_user_id_foreign` (`user_id`),
  KEY `transactions_created_by_foreign` (`created_by`),
  KEY `transactions_updated_by_foreign` (`updated_by`),
  KEY `transactions_order_number_index` (`order_number`),
  KEY `transactions_outlet_id_status_index` (`outlet_id`,`status`),
  KEY `transactions_business_id_status_index` (`business_id`,`status`),
  KEY `transactions_status_index` (`status`),
  KEY `transactions_discount_id_foreign` (`discount_id`),
  KEY `transactions_parent_order_number_index` (`parent_order_number`),
  KEY `transactions_is_urgent_note_index` (`is_urgent_note`),
  KEY `transactions_urgent_status_index` (`urgent_status`),
  KEY `idx_trx_biz_out_date_stat` (`business_id`,`outlet_id`,`date`,`status`),
  KEY `idx_trx_date_stat` (`date`,`status`),
  KEY `idx_trx_order_number` (`order_number`),
  KEY `idx_trx_parent_order_number` (`parent_order_number`),
  KEY `idx_trx_shift_id` (`shift_id`),
  KEY `transactions_payment_method_id_foreign` (`payment_method_id`),
  CONSTRAINT `transactions_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_discount_id_foreign` FOREIGN KEY (`discount_id`) REFERENCES `discounts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`),
  CONSTRAINT `transactions_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_payment_method_id_foreign` FOREIGN KEY (`payment_method_id`) REFERENCES `payment_methods` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_shift_id_foreign` FOREIGN KEY (`shift_id`) REFERENCES `shifts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transactions_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_items`
--

DROP TABLE IF EXISTS `transfer_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfer_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `transfer_id` bigint(20) unsigned NOT NULL,
  `item_type` varchar(30) NOT NULL DEFAULT 'INGREDIENT',
  `menu_id` bigint(20) unsigned DEFAULT NULL,
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(15,3) NOT NULL,
  `input_qty` decimal(15,3) DEFAULT NULL,
  `unit` varchar(30) NOT NULL,
  `input_unit` varchar(30) DEFAULT NULL,
  `returned_qty` decimal(15,4) NOT NULL DEFAULT 0.0000,
  `received_qty` decimal(15,4) DEFAULT NULL,
  `return_reason` varchar(255) DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `transfer_items_transfer_id_foreign` (`transfer_id`),
  KEY `transfer_items_ingredient_id_foreign` (`ingredient_id`),
  KEY `transfer_items_menu_id_foreign` (`menu_id`),
  CONSTRAINT `transfer_items_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`),
  CONSTRAINT `transfer_items_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfer_items_transfer_id_foreign` FOREIGN KEY (`transfer_id`) REFERENCES `transfers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_items`
--

LOCK TABLES `transfer_items` WRITE;
/*!40000 ALTER TABLE `transfer_items` DISABLE KEYS */;
INSERT INTO `transfer_items` VALUES (1,1,'INGREDIENT',NULL,3,1000.000,1.000,'gram','Kg',0.0000,NULL,NULL,NULL,'2026-09-06 08:54:09','2026-09-06 08:54:09'),(2,2,'INGREDIENT',NULL,3,50000.000,50.000,'gram','Kg',0.0000,NULL,NULL,NULL,'2026-09-06 08:54:36','2026-09-06 08:54:36');
/*!40000 ALTER TABLE `transfer_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfers`
--

DROP TABLE IF EXISTS `transfers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transfers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `transfer_no` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `source_type` varchar(30) NOT NULL DEFAULT 'OUTLET',
  `source_name` varchar(150) DEFAULT NULL,
  `source_outlet_id` bigint(20) unsigned DEFAULT NULL,
  `destination_type` varchar(30) NOT NULL DEFAULT 'OUTLET',
  `destination_name` varchar(150) DEFAULT NULL,
  `destination_outlet_id` bigint(20) unsigned DEFAULT NULL,
  `transfer_type` varchar(30) NOT NULL DEFAULT 'INTER_OUTLET',
  `status` varchar(30) NOT NULL DEFAULT 'COMPLETED',
  `received_at` timestamp NULL DEFAULT NULL,
  `received_by` bigint(20) unsigned DEFAULT NULL,
  `received_notes` text DEFAULT NULL,
  `returned_at` timestamp NULL DEFAULT NULL,
  `returned_by` bigint(20) unsigned DEFAULT NULL,
  `return_reason` varchar(255) DEFAULT NULL,
  `return_disposition` varchar(50) DEFAULT NULL COMMENT 'RECORD_AS_WASTE, RETURN_TO_SOURCE, PARTIAL',
  `return_notes` text DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `driver_name` varchar(100) DEFAULT NULL,
  `vehicle_no` varchar(50) DEFAULT NULL,
  `total_items` int(11) NOT NULL DEFAULT 0,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `transfers_transfer_no_unique` (`transfer_no`),
  KEY `transfers_source_outlet_id_foreign` (`source_outlet_id`),
  KEY `transfers_destination_outlet_id_foreign` (`destination_outlet_id`),
  KEY `transfers_created_by_foreign` (`created_by`),
  KEY `transfers_updated_by_foreign` (`updated_by`),
  KEY `transfers_business_id_foreign` (`business_id`),
  KEY `transfers_received_by_foreign` (`received_by`),
  KEY `transfers_returned_by_foreign` (`returned_by`),
  CONSTRAINT `transfers_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfers_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfers_destination_outlet_id_foreign` FOREIGN KEY (`destination_outlet_id`) REFERENCES `outlets` (`id`),
  CONSTRAINT `transfers_received_by_foreign` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfers_returned_by_foreign` FOREIGN KEY (`returned_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `transfers_source_outlet_id_foreign` FOREIGN KEY (`source_outlet_id`) REFERENCES `outlets` (`id`),
  CONSTRAINT `transfers_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfers`
--

LOCK TABLES `transfers` WRITE;
/*!40000 ALTER TABLE `transfers` DISABLE KEYS */;
INSERT INTO `transfers` VALUES (1,1,'TRF-20260906-0001','2026-09-06','OUTLET',NULL,1,'OUTLET',NULL,9,'INTER_OUTLET','COMPLETED',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,1,1,'2026-09-06 08:54:09','2026-09-06 08:54:09'),(2,1,'TRF-20260906-0002','2026-09-06','OUTLET',NULL,1,'OUTLET',NULL,9,'INTER_OUTLET','COMPLETED',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,1,1,1,'2026-09-06 08:54:36','2026-09-06 08:54:36');
/*!40000 ALTER TABLE `transfers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `units`
--

DROP TABLE IF EXISTS `units`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `units` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `symbol` varchar(20) NOT NULL,
  `is_base_unit` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_unit_biz_sym` (`business_id`,`symbol`),
  CONSTRAINT `units_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `units`
--

LOCK TABLES `units` WRITE;
/*!40000 ALTER TABLE `units` DISABLE KEYS */;
/*!40000 ALTER TABLE `units` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `urgent_notes`
--

DROP TABLE IF EXISTS `urgent_notes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `urgent_notes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned NOT NULL DEFAULT 1,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `transaction_id` bigint(20) unsigned DEFAULT NULL,
  `order_number` varchar(255) NOT NULL,
  `menu_id` bigint(20) unsigned DEFAULT NULL,
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `item_type` varchar(30) NOT NULL DEFAULT 'RECIPE',
  `item_name` varchar(255) NOT NULL,
  `required_qty` decimal(15,3) NOT NULL DEFAULT 0.000,
  `deducted_qty` decimal(15,3) NOT NULL DEFAULT 0.000,
  `pending_qty` decimal(15,3) NOT NULL DEFAULT 0.000,
  `unit` varchar(50) NOT NULL DEFAULT 'gram',
  `status` varchar(30) NOT NULL DEFAULT 'PENDING',
  `notes` text DEFAULT NULL,
  `resolved_at` datetime DEFAULT NULL,
  `resolved_by` bigint(20) unsigned DEFAULT NULL,
  `resolution_notes` varchar(255) DEFAULT NULL,
  `resolution_movement_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `urgent_notes_resolved_by_foreign` (`resolved_by`),
  KEY `urgent_notes_created_by_foreign` (`created_by`),
  KEY `urgent_notes_updated_by_foreign` (`updated_by`),
  KEY `urgent_notes_business_id_index` (`business_id`),
  KEY `urgent_notes_outlet_id_index` (`outlet_id`),
  KEY `urgent_notes_transaction_id_index` (`transaction_id`),
  KEY `urgent_notes_order_number_index` (`order_number`),
  KEY `urgent_notes_menu_id_index` (`menu_id`),
  KEY `urgent_notes_ingredient_id_index` (`ingredient_id`),
  KEY `urgent_notes_status_index` (`status`),
  KEY `idx_unote_biz_out_stat` (`business_id`,`outlet_id`,`status`),
  KEY `idx_unote_trx_id` (`transaction_id`),
  CONSTRAINT `urgent_notes_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `urgent_notes_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `urgent_notes_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE SET NULL,
  CONSTRAINT `urgent_notes_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE SET NULL,
  CONSTRAINT `urgent_notes_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `urgent_notes_resolved_by_foreign` FOREIGN KEY (`resolved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `urgent_notes_transaction_id_foreign` FOREIGN KEY (`transaction_id`) REFERENCES `transactions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `urgent_notes_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `urgent_notes`
--

LOCK TABLES `urgent_notes` WRITE;
/*!40000 ALTER TABLE `urgent_notes` DISABLE KEYS */;
/*!40000 ALTER TABLE `urgent_notes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `referral_code` varchar(50) DEFAULT NULL,
  `referred_by_id` bigint(20) unsigned DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `role` varchar(255) NOT NULL DEFAULT 'kasir',
  `status` varchar(30) NOT NULL DEFAULT 'pending',
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  UNIQUE KEY `users_referral_code_unique` (`referral_code`),
  KEY `users_approved_by_foreign` (`approved_by`),
  KEY `users_outlet_id_foreign` (`outlet_id`),
  KEY `users_business_id_foreign` (`business_id`),
  KEY `users_referred_by_id_foreign` (`referred_by_id`),
  CONSTRAINT `users_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `users_referred_by_id_foreign` FOREIGN KEY (`referred_by_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waste_logs`
--

DROP TABLE IF EXISTS `waste_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `waste_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `business_id` bigint(20) unsigned DEFAULT NULL,
  `waste_no` varchar(35) NOT NULL,
  `date` date NOT NULL,
  `item_type` varchar(20) NOT NULL DEFAULT 'INGREDIENT' COMMENT 'INGREDIENT atau MENU',
  `ingredient_id` bigint(20) unsigned DEFAULT NULL,
  `menu_id` bigint(20) unsigned DEFAULT NULL,
  `outlet_id` bigint(20) unsigned DEFAULT NULL,
  `shift_id` bigint(20) unsigned DEFAULT NULL,
  `qty` decimal(15,3) NOT NULL COMMENT 'Kuantitas yang diinput pengguna',
  `unit_type` varchar(10) NOT NULL DEFAULT 'PAKAI' COMMENT 'BELI atau PAKAI',
  `qty_pakai` decimal(15,3) NOT NULL COMMENT 'Kuantitas pemotongan dalam satuan pakai',
  `cost_per_unit` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'HPP per unit pakai',
  `loss_cost` decimal(15,2) NOT NULL DEFAULT 0.00 COMMENT 'Total kerugian rupiah (qty_pakai * cost_per_unit)',
  `reason_category` varchar(50) NOT NULL COMMENT 'EXPIRED, COOKING_ERROR, DELIVERY_DAMAGE, CUSTOMER_COMPLAINT, DROPPED_SPILL, STORAGE_DAMAGE, OTHER',
  `notes` text DEFAULT NULL COMMENT 'Kronologi / keterangan detail kejadian',
  `action_taken` varchar(255) DEFAULT NULL COMMENT 'Tindakan korektif: dibuang, retur supplier, teguran koki, dll',
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `stock_movement_id` bigint(20) unsigned DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `waste_logs_ingredient_id_foreign` (`ingredient_id`),
  KEY `waste_logs_outlet_id_foreign` (`outlet_id`),
  KEY `waste_logs_shift_id_foreign` (`shift_id`),
  KEY `waste_logs_user_id_foreign` (`user_id`),
  KEY `waste_logs_stock_movement_id_foreign` (`stock_movement_id`),
  KEY `waste_logs_created_by_foreign` (`created_by`),
  KEY `waste_logs_updated_by_foreign` (`updated_by`),
  KEY `waste_logs_waste_no_index` (`waste_no`),
  KEY `waste_logs_menu_id_foreign` (`menu_id`),
  KEY `idx_waste_biz_out_date` (`business_id`,`outlet_id`,`date`),
  KEY `idx_waste_reason_cat` (`reason_category`),
  CONSTRAINT `waste_logs_business_id_foreign` FOREIGN KEY (`business_id`) REFERENCES `businesses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `waste_logs_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_ingredient_id_foreign` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredients` (`id`) ON DELETE CASCADE,
  CONSTRAINT `waste_logs_menu_id_foreign` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_outlet_id_foreign` FOREIGN KEY (`outlet_id`) REFERENCES `outlets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_shift_id_foreign` FOREIGN KEY (`shift_id`) REFERENCES `shifts` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_stock_movement_id_foreign` FOREIGN KEY (`stock_movement_id`) REFERENCES `stock_movements` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waste_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waste_logs`
--

LOCK TABLES `waste_logs` WRITE;
/*!40000 ALTER TABLE `waste_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `waste_logs` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-19  3:44:56
